<template>
  <div id="serve-dev">
    <webgl-gol :cellWidth="15" />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import WebglGol from "@/webgl-gol.vue";

export default defineComponent({
  name: "ServeDev",
  components: {
    WebglGol
  }
});
</script>

<style scoped>
#serve-dev {
  width: 800px;
  height: 600px;
}
</style>
