<template>
  <div class="webgl-gol">
    <canvas id="webgl-canvas"
            @mousedown="mouseDown"
            @mousemove="mouseMove"
            @mouseup="mouseUp"/>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { SimulationApp } from "./app/SimulationApp";

/**
 * A position with an `x` and `y` coordinate.
 */
interface Position {
  x: number;
  y: number;
}

/**
 * WebGL Game of Life Vue component.
 * @param {null} e Probably fix this because idk why it's here.
 */
export default defineComponent({
  name: "WebglGol",

  props: {
    cellWidth: { type: Number, default: 5 },
    dT: { type: Number, default: 100 }
  },

  data() {
    return {
      canvasObj: null as (HTMLCanvasElement | null),
      simulationApp: null as (SimulationApp | null),

      isMouseDown: false,
      isPaused: false,

      windowMouseFn: (e: MouseEvent) => { console.debug(e); },
      windowKeyFn: (e: KeyboardEvent) => { console.debug(e); }
    };
  },

  mounted() {
    this.canvasObj = document.getElementById("webgl-canvas") as HTMLCanvasElement;
    this.simulationApp = new SimulationApp(this.canvasObj, this.cellWidth);

    const self = this;
    // Add mouseup event listener to catch out-of-component events
    this.windowMouseFn = function(event: MouseEvent) {
      if (event.button == 0 && self.isMouseDown) {
        self.mouseUp();
      }
    };
    window.addEventListener("mouseup", this.windowMouseFn);
    // Add keyup event listener to pass keyboard events to component
    this.windowKeyFn = function(event: KeyboardEvent) {
      self.keyUp(event);
    };
    window.addEventListener("keyup", this.windowKeyFn);

    // Start iteration
    this.iterate();
  },

  unmounted() {
    if (this.simulationApp != null) {
      this.simulationApp.destroy();
    }

    // Remove event listeners
    window.removeEventListener("mouseup", this.windowMouseFn);
    window.removeEventListener("keyup", this.windowKeyFn);
  },

  methods: {
    iterate(): void {
      if (this.simulationApp && !this.isPaused) {
        this.simulationApp.update();
      }

      setTimeout(() => { this.iterate(); }, this.dT);
    },

    getCanvasPos(event: MouseEvent): Position {
      const rect = this.canvasObj?.getBoundingClientRect();
      if (!rect) { throw Error("No bounding rect"); }

      return {
        x: event.x - rect.left,
        y: event.y - rect.top
      };
    },

    mouseDown(event: MouseEvent): void {
      this.isMouseDown = true;

      const pos = this.getCanvasPos(event);
      this.simulationApp?.mouseInput(pos.x, pos.y, event.ctrlKey);
    },

    mouseMove(event: MouseEvent): void {
      if (this.isMouseDown) {
        const pos = this.getCanvasPos(event);
        this.simulationApp?.mouseInput(pos.x, pos.y, event.ctrlKey);
      }
    },

    mouseUp(): void {
      this.isMouseDown = false;
    },

    keyUp(event: KeyboardEvent): void {
      switch (event.key) {
      case "r":
        this.simulationApp?.randomize(0.5);
        break;
      case "c":
        this.simulationApp?.clear();
        break;
      case "s":
        if (this.isPaused) {
          this.simulationApp?.update();
        }
        break;
      case " ":
        this.isPaused = !this.isPaused;
        event.preventDefault();
        break;
      }
    }
  }
});
</script>

<style scoped>
  #webgl-canvas {
    width: 100%;
    height: 100%;

    margin: 0px;
    padding: 0px;
    border-width: 0px;
    box-sizing: border-box;
  }

  .webgl-gol {
    display: block;

    width: 100%;
    height: 100%;

    margin: 0px;
    padding: 0px;
    border-width: 0px;
    box-sizing: border-box;
  }
</style>
